body {
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

button {
    border: 1px solid black;
    border-radius: 0;
    color: black;
    font-size: 4vh;
    font-weight: bold;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}

.display-area {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex: 2;
    padding: 0 2vw;
    text-align: right;
}

.display-area > p {
    flex: 1;
    margin: 0;
    font-size: 15vh;
}

.functions {
    display: flex;
    flex: 0.5;
}

.functions > button {
    flex: 1;
}

.interface {
    display: flex;
    flex: 4;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex: 4;
}

.calculator {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.number-pad {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.number-row {
    display: flex;
    flex: 1;
}

.number-row > button {
    flex: 1;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.operator {
    background-color: orange;
    flex: 1;
}

.operator:hover{
    background-color: goldenrod;
}

.operator.active {
    background-color: darkgoldenrod;
}

#equals {
    flex: 2;
}